# Variables de entorno para Supabase
# Copia este archivo a .env y configura tus credenciales

VITE_SUPABASE_URL=https://fancsoppdoiruxtxrrth.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZhbmNzb3BwZG9pcnV4dHhycnRoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIxODA1MjEsImV4cCI6MjA3Nzc1NjUyMX0.WpijWYmkC9rkal5mRZppv74zLL4wUztt8Wk3NDtElGw
VITE_USERNAME_EMAIL_DOMAIN=todo-app.local
